<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>

	<link rel="stylesheet" href="../static/css/style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon", href= {{ icon_url }}>

	<title>
		Welcome
	</title>
</head>
<body>
	<div class="bg">
		<div class="blur"></div>


		<div class="me">
				<a href="https://discord.com/users/850235530695540736" target="_blank"> <img src={{ my_icon }}> 
				<p >{{ username }} </p>

			</a>

			<p class="about">About</p>


	</div>
	<div class="info">
		<p>
			I'm an everyday person who's taken a keen interest<br> in coding, starting with Python. Lately, I've been<br> experimenting with HTML and CSS to craft digital<br> wonders. I'm not very fond to share my journey as I<br>  explorethis new realm of creativity and <br> problem-solving. Stick around, and let's learn and<br>  grow together!
		</p>
	</div>
	<div class="logo">
		<ul>
			<li>
				<a href="https://www.instagram.com/_bonk_._/" target="_blank" class="inst"><img src="https://cdn.discordapp.com/attachments/1125295823534694491/1142027375538864148/icons8-instagram-500.png"></a>
				
				<a href="https://github.com/Kellyaka" class="git" target="_blank"><img src="https://cdn.discordapp.com/attachments/1125295823534694491/1142036305010765984/github-logo.png"></a>

				<a href="https://discord.com/invite/Tvv4UtFcdR" target="_blank" class="discord"><img src="https://cdn.discordapp.com/attachments/1125295823534694491/1142027896043614249/icons8-discord-500.png"></a>

				<a href="/no" class="no"><img src="https://img.freepik.com/free-icon/touch_318-409127.jpg?t=st=1692354228~exp=1692354828~hmac=669888390d521e0da7eadcaaf18e614f9dc88151aad4b2b3e6f19f51f218ddec"></a>
			</li>
		</ul>
	</div>
	
</body>
</html>